@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* general page styles */

body {
    background-image: url(../images/oil-rig.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Inter', sans-serif;
    color: #1d1e20;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

/* main locator area */

.locator-area {
    background-color: rgba(229, 234, 242, 0.8);
    width: 80%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

/* heading and logo */

#heading {
    text-align: center;
}

#logo {
    width: 160px;
    padding: 5px 5px 2.5px 5px;
    margin: 10px 5px 0 5px;
}

#heading>h1 {
    margin: 0 5px 5px 5px;
    padding: 2.5px 5px 5px 5px;
}

/* input area general styling */

#input-area {
    font-size: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* instructions */

#instruction-area {
    text-align: justify;
}

/* inputs */

.input-wrapper {
    text-align: left;
    margin-bottom: 20px;
}

.inputs {
    display: inline-block;
    margin-left: 25px;
}

.input-wrapper>h2 {
    margin: 30px 10px 10px 10px;
    padding: 5px 0 5px 0;
}

.inputs>label {
    padding-right: 5px;
}

input {
    height: 25px;
    width: 120px;
    border: 1px solid #1d1e20;
    font-family: 'Inter', sans-serif;
    color: #1d1e20;
}

#separator {
    margin-left: 45px;
    margin-right: 20px;
    padding: 0;
    display: inline-block;
}

/* result area */

#result-area {
    padding-bottom: 20px;
    display: none;
}

#result-area>h2 {
    margin: 30px 10px 10px 10px;
    padding: 5px 0 5px 0;
}

.results {
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}

.results>span {
    margin-left: 10px;
}

/* result list */

#result-list {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    display: none;
}

#result-list>h2 {
    margin: 30px 10px 10px 10px;
    padding: 5px 0 5px 0;
}

#list {
    font-size: 1.2rem;
    font-weight: bold;
}

.results-list {
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 12px;
    margin-right: 12px;
}

.results-list>span {
    margin-left: 10px;
}

/* plan */

#plan-wrapper {
    width: 100%;
}

#plan-area {
    max-width: 600px;
    height: 500px;
    margin-left: 10px;
    display: none;
    border: 1px solid #1d1e20;
}

/* buttons */

.buttons {
    width: 100px;
    height: 40px;
    border: 1px solid #1d1e20;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: rgb(229, 234, 242);
    background-color: #254655;
    margin: 30px 10px 30px 10px;
}

.buttons-wide {
    width: 120px;
}

.buttons:hover {
    background-color: #1d1e20;
    cursor: pointer;
}

#add {
    display: none;
}

#create {
    display: none;
}

/* Media queries */

/* For screens from 1340px wide and down */
@media screen and (max-width: 1340px) {
    .locator-area {
        width: 90%;
    }
}

/* For screens from 1200px wide and down */
@media screen and (max-width: 1200px) {
    .locator-area {
        width: 95%;
    }
}

/* For screens from 1135px wide and down */
@media screen and (max-width: 1135px) {
    #separator {
        display: block;
        margin: 20px 25px 20px 25px;
    }

    .x-input {
        padding-left: 37px;
    }

    .y-input {
        padding-left: 53px;
    }
}

/* For screens from 1075px wide and down */
@media screen and (max-width: 1075px) {
    .results {
        font-size: 1rem;
    }

    #list {
        font-size: 1rem;
    }

    .results-list {
        font-size: 1rem;
    }
}

/* For screens from 930px wide and down */
@media screen and (max-width: 930px) {
    .results {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .results-list {
        display: block;
    }

    #list>li {
        padding-bottom: 10px;
    }
}

/* For screens from 600px wide and down */
@media screen and (max-width: 600px) {
    .inputs {
        display: block;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .offset-input {
        padding-left: 16px;
    }

    .x-input {
        padding-left: 53px;
    }

    #plan-area {
        height: 450px;
        margin-left: 0;
    }
}
